/* roboto-slab-regular - latin */
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('/fonts/roboto-slab/roboto-slab-v24-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('/fonts/roboto-slab/roboto-slab-v24-latin-regular.woff') format('woff'); /* Modern Browsers */
}